@charset "UTF-8";
/* CSS Document */

.awform h2{
  padding-bottom: 7px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 15px;
}
.alert {
   padding: 5px !important;
   margin: 10px;
}
.awform_data > label {
   font-weight: normal;
}
.awform_free {
   margin-left: 0 !important;
}
.awform_notes2 {
   margin-top: 7px;
}
.awform_kind-connect div[id$="_child"] {
   padding-right: 15px !important;
}
.awform_kind-optin .awform_data {
   margin-top: 15px;
}
.awform_kind-price .awform_data {
   margin-top: 7px;
   font-size: 1.5em;
}
.awform_name {
   padding-top:0 !important;
}
.body-confirm .awform_label {
   padding-top:0 !important;
}