@charset "UTF-8";


.top10 {
	margin-top: 10px;
}

.top20 {
	margin-top: 20px;
}

.top30 {
	margin-top: 30px;
}

.top40 {
	margin-top: 40px;
}

.top50 {
	margin-top: 50px;
}

.top60 {
	margin-top: 60px;
}

.top70 {
	margin-top: 70px;
}

.retina {
}

.bottom5 {
	margin-bottom: 5px;
}

.tottom10 {
	margin-bottom: 10px;
}

.bottom20 {
	margin-bottom: 20px;
}

.bottom30 {
	margin-bottom: 30px;
}

.bottom40 {
	margin-bottom: 40px;
}

.bottom50 {
	margin-bottom: 50px;
}

.aboutBack {
	background-image: url(images/top_back1.jpg);
	background-size: cover;
}

.textShadow1 {
	text-shadow: 1px 1px 1px hsla(0,0%,0%,0.64);
}

.text-white {
	color: hsla(0,0%,100%,1.00);
}

.higashinihonBack {
	background-image: url(images/higashinihon_top.jpg);
	background-size: cover;
}
.kumamotoBack {
	background-image: url(images/kumamoto_top.jpg);
	background-size: cover;
}
.akiyaBack {
	background-image: url(images/akiya_top.jpg);
	background-size: cover;
}
.kaikanBack {
	background-image: url(images/kaikan_top.jpg);
	background-size: cover;
}
.kannon_sui_back {
	background-image: url(images/fuji_kannon_sui_top.jpg);
	background-size: cover;
}
.houyouBack {
	background-image: url(images/houyou_top.jpg);
	background-size: cover;
}
.kuyouBack {
	background-image: url(images/gokuyou_top.jpg);
	background-size: cover;
}
.osoushikiBack {
	background-image: url(images/osoushiki_top.jpg);
	background-size: cover;
}
.tableHwidth {
	width: 30%;
}
.navColor1 {
	background-color: hsla(251,44%,49%,1.00);
}


.orderText1 {
	font-size: 34px;
}

.inyouCyousei {
	padding-bottom: 0px;
	padding-top: 0px;
	padding-left: 10px;
}

.nav.navbar-nav.navbar-right li a {
	text-shadow: 0px 0px hsla(0,0%,100%,1.00);
	color: hsla(0,0%,85%,1.00);
}
.nav.navbar-nav.navbar-right li a:hover  {
	text-shadow: 0px 0px hsla(0,0%,100%,1.00);
	color: hsla(0,0%,100%,1.00);
}

.container-fluid .navbar-header .navbar-brand {
	color: hsla(0,0%,85%,1.00);
}
.container-fluid .navbar-header .navbar-brand:hover  {
	color: hsla(0,0%,100%,1.00);
}

.kannon0renge {
	background-color: hsla(54,100%,35%,1.00);
}

.navBordertop {
	border-top: 3px solid hsla(54,100%,35%,1.00);
}

.inyouColor1 {
	border-left-color: hsla(54,100%,35%,1.00);
}
.inyouColor2 {
	border-left-color: hsla(251,44%,49%,1.00);
}

.slideCaption1 {
	font-size: 38px;
	text-align: left;
	/* [disabled]float: left; */
	left: 12%;
	bottom: 22%;
}

.kansyaRead {
	color: hsla(0,0%,32%,1.00);
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 12px;
	line-height: 1.4em;
	text-align: left;
}

.hourituIchi {
	color: hsla(0,0%,20%,1.00);
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-weight: bold;
	font-size: 17px;
}

.hourituKifu {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-weight: bold;
	font-size: 18px;
	line-height: 2em;
}

.furikomisaki {
	color: hsla(0,0%,20%,1.00);
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-weight: bold;
	font-size: 18px;
	line-height: 1.6em;
}

.text-effect1 {
	color: hsla(52,100%,36%,1.00);
	text-shadow: 3px 3px 3px hsla(0,0%,100%,1.00);
}

.text-effect2 {
	text-shadow: 2px 2px 3px hsla(0,0%,0%,1.00);
}
.addressText1 {
	line-height: 1.6em;
	margin-bottom: 9px;
}

.henpinRemarks {
	color: hsla(0,0%,25%,1.00);
	font-size: 12px;
}

.sitemapMidashi {
	color: hsla(0,0%,30%,1.00);
	font-weight: bold;
	font-size: 16px;
}

.yuubinText {
	color: hsla(0,0%,36%,1.00);
	font-size: 13px;
}

.pageMidashi {
	font-size: 23px;
	color: hsla(52,100%,36%,1.00);
}

.mainMidashi {
	color: hsla(0,0%,100%,1.00);
	font-size: 30px;
}


@media (max-width:375px){

.sm-non {
	display: none;
}

.furikomisaki {
	color: hsla(0,0%,20%,1.00);
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-weight: bold;
	font-size: 11px;
	line-height: 1.6em;
}

.orderText1 {
	font-size: 29px;
}

.yuubinText {
	color: hsla(0,0%,36%,1.00);
	font-size: 15px;
}
}

@media (min-width:376px){

.pc-non {
	display: none;
}
}

@media (width:320px){
}

@media (max-width:667px){

.slideCaption1 {
	font-size: 25px;
	text-align: left;
	/* [disabled]float: left; */
	left: 12%;
	bottom: 22%;
}
}

@media (min-width:768px){

.pageMidashi {
	font-size: 39px;
	color: hsla(52,100%,36%,1.00);
}
}
