@charset "UTF-8";

.top10 {
	margin-top: 10px;
}

.top20 {
	margin-top: 20px;
}

.top30 {
	margin-top: 30px;
}

.top40 {
	margin-top: 40px;
}

.top50 {
	margin-top: 50px;
}

.top60 {
	margin-top: 60px;
}

.top70 {
	margin-top: 70px;
}

.retina {
}

.bottom5 {
	margin-bottom: 5px;
}

.tottom10 {
	margin-bottom: 10px;
}

.bottom20 {
	margin-bottom: 20px;
}

.bottom30 {
	margin-bottom: 30px;
}

.bottom40 {
	margin-bottom: 40px;
}

.bottom50 {
	margin-bottom: 50px;
}

.aboutBack {
	background-image: url(images/top_back1.jpg);
	background-size: cover;
}

.textShadow1 {
	text-shadow: 1px 1px 1px hsla(0,0%,0%,0.64);
}

.text-white {
	color: hsla(0,0%,100%,1.00);
}

.higashinihonBack {
	background-image: url(images/higashinihon_top.jpg);
	background-size: cover;
}
.kumamotoBack {
	background-image: url(images/kumamoto_top.jpg);
	background-size: cover;
}
.akiyaBack {
	background-image: url(images/akiya_top.jpg);
	background-size: cover;
}
.kaikanBack {
	background-image: url(images/kaikan_top.jpg);
	background-size: cover;
}
.kannon_sui_back {
	background-image: url(images/fuji_kannon_sui_top.jpg);
	background-size: cover;
}
.houyouBack {
	background-image: url(images/houyou_top.jpg);
	background-size: cover;
}
.kuyouBack {
	background-image: url(images/gokuyou_top.jpg);
	background-size: cover;
}
.osoushikiBack {
	background-image: url(images/osoushiki_top.jpg);
	background-size: cover;
}
.tableHwidth {
	width: 30%;
}
.navColor1 {
	background-color: hsla(251,44%,49%,1.00);
}


.orderText1 {
	font-size: 34px;
}

.inyouCyousei {
	padding-bottom: 0px;
	padding-top: 0px;
	padding-left: 10px;
}

.nav.navbar-nav.navbar-right li a {
	text-shadow: 0px 0px hsla(0,0%,100%,1.00);
	color: hsla(0,0%,85%,1.00);
}
.nav.navbar-nav.navbar-right li a:hover  {
	text-shadow: 0px 0px hsla(0,0%,100%,1.00);
	color: hsla(0,0%,100%,1.00);
}

.container-fluid .navbar-header .navbar-brand {
	color: hsla(0,0%,85%,1.00);
}
.container-fluid .navbar-header .navbar-brand:hover  {
	color: hsla(0,0%,100%,1.00);
}

.kannon0renge {
	background-color: hsla(54,100%,35%,1.00);
}

.navBordertop {
	border-top: 3px solid hsla(54,100%,35%,1.00);
}

.inyouColor1 {
	border-left-color: hsla(54,100%,35%,1.00);
}
.inyouColor2 {
	border-left-color: hsla(251,44%,49%,1.00);
}

.slideCaption1 {
	font-size: 38px;
	text-align: left;
	/* [disabled]float: left; */
	left: 12%;
	bottom: 22%;
}

@media (max-width:375px){

.sm-non {
	display: none;
}
}

@media (min-width:376px){

.pc-non {
	display: none;
}
}

@media (width:320px){
}

@media (max-width:667px){

.slideCaption1 {
	font-size: 25px;
	text-align: left;
	/* [disabled]float: left; */
	left: 12%;
	bottom: 22%;
}
}
