@charset "UTF-8";

.top10 {
	margin-top: 10px;
}

.top20 {
	margin-top: 20px;
}

.top30 {
	margin-top: 30px;
}

.top40 {
	margin-top: 40px;
}

.top50 {
	margin-top: 50px;
}

.top60 {
	margin-top: 60px;
}

.top70 {
	margin-top: 70px;
}

.retina {
}

.bottom5 {
	margin-bottom: 5px;
}

.tottom10 {
	margin-bottom: 10px;
}

.bottom20 {
	margin-bottom: 20px;
}

.bottom30 {
	margin-bottom: 30px;
}

.bottom40 {
	margin-bottom: 40px;
}

.bottom50 {
	margin-bottom: 50px;
}

.aboutBack {
	background-image: url(images/top_back1.jpg);
	background-size: cover;
}

.textShadow1 {
	text-shadow: 1px 1px 1px hsla(0,0%,0%,0.64);
}

.text-white {
	color: hsla(0,0%,100%,1.00);
}

.higashinihonBack {
	background-image: url(images/higashinihon_top.jpg);
	background-size: cover;
}
.kumamotoBack {
	background-image: url(images/kumamoto_top.jpg);
	background-size: cover;
}
.akiyaBack {
	background-image: url(images/akiya_top.jpg);
	background-size: cover;
}
.kaikanBack {
	background-image: url(images/kaikan_top.jpg);
	background-size: cover;
}
.houyouBack {
	background-image: url(images/houyou_top.jpg);
	background-size: cover;
}
.kuyouBack {
	background-image: url(images/gokuyou_top.jpg);
	background-size: cover;
}
.osoushikiBack {
	background-image: url(images/osoushiki_top.jpg);
	background-size: cover;
}
.tableHwidth {
	width: 30%;
}
.navColor1 {
	background-color: hsla(313,21%,22%,1.00);
}


.orderText1 {
	font-size: 34px;
}

.inyouCyousei {
	padding-bottom: 0px;
	padding-top: 0px;
	padding-left: 10px;
}
